@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css");

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 16px;
}
/**
* 나눔스퀘어
* Light(300), Regular(400), Bold(700), ExtraBold(800)
* 경량화버전 / 2,350자
**/
.nanumsquare { font-family: 'NanumSquare', sans-serif; }
/**
* 나눔바른고딕
* UltraLight(200), Light(300), Regular(400), Bold(700)
* 경량화버전 / 한글 및 특수문자 3,709자
**/
.nanumbarun { font-family: 'NanumBarunGothic', sans-serif; }

:root {
	/**
	* Default
	*/
	--white-color: #fff;
	--black-color: #1E1B22;
	--red-color: #AE1E2C;
	--blue-color: #0C3A5E;
	--green-color: #406E52;
	--gold-color: #e2af05;
	--puple-color: #3D1689;

	--default-font-size: 1rem;
	--default-font-color: #000;
	--default-border-color: #ccc;

	/**
	* Placeholder
	*/
	--placeholder-font-color: #a9a9a9;

	/**
	* Disabled
	*/
	--disabled-bg-color: #e9e9e9;
	--disabled-font-color: #999;

	/**
	* Primary
	*/
	--primary-bg-color: #1a9cff;
	--primary-font-color: #1a9cff;
	--primary-border-color: #1a9cff;
	--primary-fill-font-color: #fff;

	/**
	* Secondary
	*/
	--secondary-bg-color: #404040;
	--secondary-font-color: #404040;
	--secondary-border-color: #404040;
	--secondary-fill-font-color: #fff;

	/**
	* Tertiary
	*/
	--tertiary-font-color: #000;
	--tertiary-border-color: #ccc;
	--tertiary-fill-bg-color: #000;
	--tertiary-fill-border-color: #000;
	--tertiary-fill-font-color: #fff;

	/**
	* Ghost
	*/
	--ghost-font-color: #000;
	--ghost-fill-bg-color: #000;
	--ghost-fill-font-color: #fff;

	/**
	* Danger
	*/
	--danger-bg-color: #da1e28;
	--danger-border-color: #da1e28;
	--danger-font-color: #da1e28;
	--danger-fill-font-color: #fff;

	/**
	* SNS Color
	*/
	--sns-naver-bg-color: #fff;
	--sns-naver-font-color: #000;
	--sns-naver-fill-bg-color: #15BD66;
	--sns-naver-fill-font-color: #fff;

	--sns-kakao-bg-color: #fff;
	--sns-kakao-font-color: #03166C;
	--sns-kakao-fill-bg-color: #FEE500;
	--sns-kakao-fill-font-color: #03166C;

	--sns-google-bg-color: #fff;
	--sns-google-font-color: #000;
	--sns-google-fill-bg-color: #fff;
	--sns-google-fill-font-color: #000;

	--sns-apple-bg-color: #000;
	--sns-apple-font-color: #fff;
	--sns-apple-fill-bg-color: #000;
	--sns-apple-fill-font-color: #fff;
}

input[type=checkbox] { appearance:none; }