@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css");

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 16px;
}
/**
* 나눔스퀘어
* Light(300), Regular(400), Bold(700), ExtraBold(800)
* 경량화버전 / 2,350자
**/
.nanumsquare { font-family: 'NanumSquare', sans-serif; }
/**
* 나눔바른고딕
* UltraLight(200), Light(300), Regular(400), Bold(700)
* 경량화버전 / 한글 및 특수문자 3,709자
**/
.nanumbarun { font-family: 'NanumBarunGothic', sans-serif; }

:root {
	/**
	* Default color set
	*/
	--default-bg-color: #fff;
	--default-border-color: #ccc;
	--default-font-color: #000;

	/**
	* Default font set
	*/
	--default-font-size: 1rem;

	--primary-color: #1a9cff;
	--primary-border-color: #1a9cff;
	--primary-bg-color: #1a9cff;
	--primary-font-color: #1a9cff;

	--secondary-color: #383838;
	--secondary-border-color: #383838;
	--secondary-bg-color: #383838;
	--secondary-font-color: #383838;

	--danger-color: #da1e28;
	--danger-border-color: #da1e28;
	--danger-bg-color: #da1e28;
	--danger-font-color: #da1e28;

	--tertiary-border-color: #e0e0e0;
	--tertiary-bg-color: #fff;
	--tertiary-font-color: #000;
	--tertiary-fill-border-color: #fff;
	--tertiary-fill-bg-color: #383838;
	--tertiary-fill-font-color: #fff;

	--terriary-border-color: #e0e0e0;

	--alert-border-color: #da1e28;

	--placeholder-font-color: #a8a8a8;


	/**
	* --color- 포인트색상
	*/

	/**
	* primary
	*/
	--color-primary: #1a9cff;

	/**
	* secondary
	*/
	--color-secondary: #383838;

	/**
	* danger
	*/
	--color-danger: #FF003E;

	/**
	* disabled
	*/
	--bg-disabled: #E8E8E8;
	--c-disabled: #9E9E9E;

	/**
	* SNS Color
	*/
	--sns-naver-color: #15BD66;
	--sns-naver-subcolor: #fff;
	--sns-kakao-color: #FEE500;
	--sns-kakao-subcolor: #03166C;
	--sns-google-color: #fff;
	--sns-google-subcolor: #000;
	--sns-apple-color: #000;
	--sns-apple-subcolor: #fff;
}